body {
  background-color: #ffe5ec;
  overflow: hidden;
}

.textbday{
    font-family: Dynapuff, sans-serif;
  font-size: 1rem;
  gap: 1.5em;
  height: 100vh;
}




@media (max-width: 500px) {
  body {
    font-size: 0.4rem;
  }
}



/* letters */

.random-word {
  font-size: 5em;
  z-index: 10;
}

.letter {
  display: inline-block;
  text-shadow: 2px 4px 8px #d9d9d9;
}

.random-move {
  animation: randomMove 0.5s infinite alternate;
}

@keyframes randomMove {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

/* balloons */
.balloon {
  position: absolute;
  bottom: -100%;
  z-index: 200;
  left: 50%;
  transform: translateX(-50%);
  animation: balloonMove 5s linear infinite;
}

@keyframes balloonMove {
  0% {
    transform: translateY(0);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-200vh);
    opacity: 0;
  }
}

/* Adjusted positions of the balloons */
.balloon1 {
  left: 5%;
  animation-delay: 1s;
}

.balloon2 {
  left: 20%;
  animation-delay: 4s;
}

.balloon3 {
  left: 35%;
  animation-delay: 0s;
}

.balloon4 {
  left: 40%;
  animation-delay: 2s;
}

.balloon5 {
  left: 55%;
  animation-delay: 2.5s;
}

.balloon6 {
  left: 70%;
  animation-delay: 4s;
}


.candle-count-display {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
 
  border-radius: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.candle-count-display span {
  font-weight: bold;
  color: #AD030F;
}

.cake {
  position: absolute;
  width: 250px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -70px;
  margin-left: -125px;
}

.plate {
  width: 270px;
  height: 110px;
  position: absolute;
  bottom: -10px;
  left: -10px;
  background-color: #ccc;
  border-radius: 50%;
  box-shadow: 0 2px 0 #b3b3b3, 0 4px 0 #b3b3b3, 0 5px 40px rgba(0, 0, 0, 0.5);
}

.cake > * {
  position: absolute;
}

.layer {
  position: absolute;
  display: block;
  width: 250px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffc2d1;
  box-shadow: 0 2px 0px #fb6f92, 0 4px 0px #ff8fab, 0 6px 0px #ff8fab, 0 8px 0px #ff8fab, 0 10px 0px #ff8fab, 0 12px 0px #ff8fab, 0 14px 0px #ff8fab, 0 16px 0px #ff8fab, 0 18px 0px #ff8fab, 0 20px 0px #ff8fab, 0 22px 0px #ff8fab, 0 24px 0px #ff8fab, 0 26px 0px #ff8fab, 0 28px 0px #ff8fab, 0 30px 0px #ff8fab;
}

.layer-top {
  top: 0px;
}

.layer-middle {
  top: 33px;
}

.layer-bottom {
  top: 66px;
}

.icing {
  top: 2px;
  left: 5px;
  background-color: #f0e4d0;
  width: 240px;
  height: 90px;
  border-radius: 50%;
}
.icing:before {
  content: "";
  position: absolute;
  top: 4px;
  right: 5px;
  bottom: 6px;
  left: 5px;
  background-color: #f4ebdc;
  box-shadow: 0 0 4px #f6efe3, 0 0 4px #f6efe3, 0 0 4px #f6efe3;
  border-radius: 50%;
  z-index: 1;
}

.drip {
 display: block;
  width: 50px;
  height: 60px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #f0e4d0; 
}

.drip1 {
  top: 53px;
  left: 5px;
  transform: skewY(15deg);
  height: 48px;
  width: 40px;
}

.drip2 {
  top: 69px;
  left: 181px;
  transform: skewY(-15deg);
}

.drip3 {
  top: 54px;
  left: 90px;
  width: 80px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.candle {
  background-color: #7B020B;
  width: 12px;
  height: 35px;
  border-radius: 6px/3px;
  top: -20px;
  left: 50%;
  margin-left: -8px;
  z-index: 10;
}
.candle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 6px;
  border-radius: 50%;
  background-color: #ad030f;
}

.candle.out .flame {
  display: none;
}

.flame {
  position: absolute;
  background-color: orange;
  width: 10px;
  height: 25px;
  border-radius: 8px 8px 8px 8px/20px 20px 8px 8px;
  top: -34px;
  left: 50%;
  margin-left: -7.5px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  transform-origin: 50% 90%;
  animation: flicker 1s ease-in-out alternate infinite;
}

@keyframes flicker {
  0% {
    transform: skewX(5deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.2), 0 0 20px rgba(255, 165, 0, 0.2), 0 0 60px rgba(255, 165, 0, 0.2), 0 0 80px rgba(255, 165, 0, 0.2);
  }
  25% {
    transform: skewX(-5deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  }
  50% {
    transform: skewX(10deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.3), 0 0 20px rgba(255, 165, 0, 0.3), 0 0 60px rgba(255, 165, 0, 0.3), 0 0 80px rgba(255, 165, 0, 0.3);
  }
  75% {
    transform: skewX(-10deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.4), 0 0 20px rgba(255, 165, 0, 0.4), 0 0 60px rgba(255, 165, 0, 0.4), 0 0 80px rgba(255, 165, 0, 0.4);
  }
  100% {
    transform: skewX(5deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: #fb6f92;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart {
    animation: blink 1s linear infinite;
    width: 16px;
    height: 16px;
    margin-left: 5px;
}
@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@media screen and (max-width: 576px){
  .textbday{
    font-family: Dynapuff, sans-serif;
   font-size: 0.5rem;
  }
  .cake{
    margin-top: 50px;
  }
}


.birthday-gift {
  z-index: 40000;
  position: relative;
  margin-top: 400px;
  left: 50%; /* Menambahkan ini untuk memposisikan di tengah */
  transform: translateX(-50%); /* Menambahkan ini untuk menggeser ke kiri setengah lebar elemen */
}

.birthday-gift:before {
  content: "";
  position: absolute;
  width: 170px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0px;
  left: -10px; /* Ini bisa disesuaikan jika perlu */
}

input#click {
  display: none;
}

.gift {
  position: relative;
  width: 150px;
  height: 100px;
  background-color: #f9a1a1;
}
button
{
  font-family: Dynapuff, sans-serif;
  
  font-size: 16px;
  background-color: #ffcc00; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; cursor: pointer;
}
.gift:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 100px;
  background-color: #ad1717;
  left: 62px;
}

.gift:after {
  content: "";
  position: absolute;
  box-shadow: inset 0 10px rgba(0, 0, 0, 0.3);
  width: 150px;
  height: 100px;
}

.click {
  position: absolute;
  background-color: #f9a1a1;
  width: 170px;
  height: 40px;
  top: -40px;
  left: -10px;
  transform-origin: bottom left;
  transition: 2s;
  cursor: pointer;
}

.click:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 40px;
  background-color: #ad1717;
  left: 69px;
}

.click:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 0;
  border-bottom: 30px solid #ad1717;
  border-top: 30px solid #ad1717;
  border-left: 0px solid transparent;
  border-right: 30px solid transparent;
  transform: rotate(-90deg);
  left: 65px;
  top: -47px;
}

#click:checked + .click {
  z-index: 5;

  transform: rotate(-110deg) scaleX(0.85);
}

.wishes {
  position: absolute;
  transition: 2s;
  color: #333;
  font-size: 37px;
  text-align: center;
  z-index: -1;
  left: 5px;
}

#click:checked ~ .wishes {
  transform: translateY(-80px) translateX(40px);
}
@media screen and (max-width: 800px) {
  .typing-column {
    width: 600px;
  }
}
@media screen and (max-width: 574px) {
  .greetings {
    display: block;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
  }
  .description {
    font-size: 1rem;
  }

  .button a {
    font-size: 0.5rem;
  }
  .typing-column {
    width: 300px;
  }
}
